<footer class="footer pt-3 mt-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="text-center">
          <p class="text-dark my-4 text-sm font-weight-normal">
            © Coded by Anastasiia Mishchuk
          </p>
          <p class="text-dark my-4 text-sm font-weight-normal">
            <a href="https://github.com/anastmishchuk/restaurant-kitchen-service">
              Project on Github
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
