<ul class="sidebar-nav">
  {% if user.is_authenticated %}
    <li>
      User: {{ user.username }}
    </li>
    <li>
      <form id="logout-form" action="{% url "logout" %}" method="POST">
        {% csrf_token %}
        <button type="submit">Log out</button>
      </form>
    </li>
  {% else %}
    <li>
      <a href="{% url 'login' %}">Login</a>
    </li>
  {% endif %}
  <br>

  <li class="list-group-item"><a href="{% url 'restaurant:index' %}">Home</a></li>
  <li class="list-group-item"><a href="{% url 'restaurant:cook-list' %}">All cooks</a></li>
  <li class="list-group-item"><a href="{% url 'restaurant:dish-list' %}">All dishes</a></li>
  <li class="list-group-item"><a href="{% url 'restaurant:dish-type-list' %}">All dish types</a></li>
</ul>
